@import "src/app/globalValues";

#about-sec {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
  margin-top: 5%;
  #full-name {
    font-size: 56px;
  }
  #alias {
    font-size: 32px;
  }
  #my-summary {
    font-size: 20px;
  }
  #coding-chad {
    margin-top: 20px;
    img {
      height: 250px;
      width: auto;
    }
  }
}

@media only screen and (max-width: 750px) {
  #about-sec {
    max-height: 70vh;
    overflow-y: scroll;
    width: 80%;
    #full-name {
      font-size: 42px;
    }
    #alias {
      font-size: 24px;
    }
    #my-summary {
      font-size: 18px;
    }
    #coding-chad {
      margin-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
