@import "src/app/globalValues";

#contact-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 2%;
  img {
    height: 200px;
    width: auto;
    border-radius: 300px;
    margin: 20px 0;
    border: 2px solid white;
  }
  label {
    margin-left: 2px;
    margin-right: auto;
    margin-bottom: 3px;
  }
  input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: $grey1;
    cursor: pointer;
    padding: 2px 10px;
    &:focus {
      outline: none;
    }
  }
  textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: $grey1;
    cursor: pointer;
    padding: 10px;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 100px;
    border: 1px solid black;
    background-image: linear-gradient(
      0deg,
      rgba(51, 51, 51, 1) 0%,
      rgba(85, 85, 85, 1) 100%
    );
    cursor: pointer;
  }
}

@media only screen and (max-width: 750px) {
  #contact-sec {
    margin-top: 20vh;
    width: 80%;
    img {
      height: 100px;
    }
  }
}
