@import "src/app/globalValues";

#skills-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  margin-top: 150px;
  #skill-name {
    font-size: 50px;
  }
  #platform-wrap {
    width: 550px;
    position: relative;
    #platform {
      width: 100%;
      aspect-ratio: 2;
      border-radius: 100vh;
      background-image: radial-gradient(
        rgba(92, 92, 92, 1),
        rgba(49, 48, 48, 1)
      );
      transform: rotateX(70deg);
      box-shadow: 0px 150px 15px black;
      cursor: pointer;
    }
    img {
      height: 12%;
      max-width: 50px;
      position: absolute;
      filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.7));
      cursor: pointer;
    }
    img.checked {
      transform: translateY(-20px);
    }
    #js {
      top: 48%;
      left: 18%;
    }
    #ts {
      top: 48%;
      left: 30%;
    }
    #react {
      top: 48%;
      left: 42%;
    }
    #next {
      top: 48%;
      left: 54%;
    }
    #html {
      top: 48%;
      left: 66%;
    }
    #css {
      top: 48%;
      left: 78%;
    }
    #redux {
      top: 28%;
      left: 88%;
    }
    #sass {
      top: 24%;
      left: 78%;
    }
    #pg {
      top: 24%;
      left: 30%;
    }
    #mongo {
      top: 36%;
      left: 95%;
    }
    #node {
      top: 24%;
      left: 42%;
    }
    #go {
      top: 24%;
      left: 54%;
    }
    #py {
      top: 24%;
      left: 66%;
    }
    #docker {
      top: 27%;
      left: 8%;
    }
    #kube {
      top: 36%;
      left: 0%;
    }
    #cpp {
      top: 46%;
      left: 9%;
    }
    #aws {
      top: 44%;
      left: 88%;
      background-color: white;
      padding: 1%;
    }
    #dj {
      top: 24%;
      left: 18%;
    }
  }
}

@media only screen and (max-width: 750px) {
  #skills-sec {
    width: 100%;
    #platform-wrap {
      width: 80%;
      img {
        width: 25px;
        height: 25px;
        position: absolute;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.7));
        cursor: pointer;
      }
    }
  }
}
