$mateBlackVer: linear-gradient(
  0deg,
  rgba(62, 65, 65, 1) 0%,
  rgba(5, 5, 5, 1) 100%
);

$mateBlackHor: linear-gradient(
  270deg,
  rgba(62, 65, 65, 1) 0%,
  rgba(5, 5, 5, 1) 100%
);

$black: #050505;
$grey1: #808080;
$grey2: #EFEFEF;
$white: #ffffff;
$brightRed: #ff0000;