@import "src/app/globalValues";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: white;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: $black;
  width: 100dvw;
  height: 100dvh;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  overflow-y: hidden;
}

#right-pannel {
  display: flex;
  flex: 0.15;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  #logo {
    margin: 10px;
    height: auto;
    width: 50px;
  }
  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    li {
      cursor: pointer;
      a {
        text-decoration: none;
      }
    }
    li.checked > a,
    li > a:hover {
      text-decoration: underline;
    }
    #resume {
      display: flex;
      align-items: center;
      border: 1px solid white;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 7px;
      gap: 5px;
      img {
        height: 12px;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
  #socials {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 12px;
    li {
      cursor: pointer;
      img {
        height: 25px;
      }
    }
  }
}

#content-pannel {
  display: flex;
  justify-content: center;
  flex: 0.85;
  max-width: 88%;
  height: 100%;
  background-image: url("../../public/LampBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 0 15%;
  padding-top: 20vh;
  position: relative;
  padding-bottom: 20px;
  .mobile-header {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  #content-pannel {
    padding: 0;
    padding-top: 20vh;
  }
}

@media only screen and (max-width: 750px) {
  #main {
    overflow-y: scroll;
  }
  #right-pannel {
    position: absolute;
    right: 0%;
    z-index: -1;
    background-color: black;
    #logo {
      display: none;
    }
  }
  #content-pannel {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
    min-height: 100%;
    height: fit-content;
    padding: 0px 10px 30px 10px;
    background-size: 100% 105%;
    .mobile-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px 20px 10px;
      background-color: black;
      position: fixed;
      z-index: 2;
      #logo {
        width: 30px;
      }
      #section {
        font-size: 32px;
        margin: 0 auto;
      }
      #menu-logo {
        width: 30px;
        cursor: pointer;
      }
    }
  }
}
