@import "src/app/globalValues";

#work-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  #work-view {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    .work-platform-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      margin: 0 10px;
      position: relative;
      .work-platform {
        display: flex;
        flex-shrink: 0;
        width: 400px;
        aspect-ratio: 1;
        border-radius: 100vh;
        background-image: radial-gradient(
          rgba(92, 92, 92, 1),
          rgba(49, 48, 48, 1)
        );
        transform: rotateX(80deg);
        box-shadow: 0px 100px 4px black;
        cursor: pointer;
      }
      img {
        width: 300px;
        height: auto;
        position: absolute;
        z-index: 1;
        border: 1px solid white;
        top: 8%;
      }
      .work-head {
        display: flex;
        align-items: center;
        width: 90%;
        margin-top: -15%;
        margin-bottom: 10px;
        p {
          font-size: 20px;
        }
        .work-title {
          font-size: 32px;
          margin-right: 10px;
        }
        a {
          font-size: 20px;
          padding: 0 3px;
        }
      }
      .work-desc {
        text-align: justify;
        width: 90%;
        font-size: 20px;
      }
    }
  }
}

.arrows {
  margin: auto 0;
  cursor: pointer;
  position: absolute;
}

#left-arrow {
  top: 50%;
  left: 5%;
}

#right-arrow {
  top: 50%;
  right: 5%;
}

@media only screen and (max-width: 750px) {
  #work-sec {
    width: 100%;
    position: relative;
  }
  .work-platform-wrap {
    margin: 0 !important;
    .work-platform {
      width: 80% !important;
    }
    img {
      width: 55% !important;
    }
  }

  .work-desc {
    background-color: black;
    padding: 10px;
  }

  .work-head > .work-title{
    font-size: 24px !important;
  }

  .work-head > a, .work-desc{
    font-size: 16px !important;
  }

  .arrows {
    top: 20% !important;
    height: 20px;
  }
}
